Repository EPFL-ENAC/sxl-recrete-atlas: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  tags: frontend eslint
  run: npx eslint {staged_files} --fix

stylelint:
  tags: frontend stylelint
  run: npx stylelint {staged_files} --fix

chore: remove quasar prepare
  .github/workflows/quality-checks.yml
Due: none

chore: remove unnecessary prework checklist items from performance issue template
  .github/ISSUE_TEMPLATE/performance.md
Due: none

fix: correct typo in README regarding secret configuration
  .github/workflows/README.md
Due: none

fix: enhance click handling on buildings layer to support clustering and improve error handling
  src/components/MapLibreMap.vue
Due: eslint

fix: enhance click event handling on buildings layer to support GeoJSON feature types
  src/components/MapLibreMap.vue
Due: eslint

fix: improve random offset handling and cache project offsets for consistent positioning
  src/components/MapLibreMap.vue
Due: eslint

fix: refactor project offset handling to utilize store for consistent positioning
  src/components/MapLibreMap.vue
  src/stores/projects.ts
  src/types/Project.ts
Due: eslint

fix: add stylelint directive and ensure minimum height for input details
  src/assets/main.css
Due: stylelint

Update src/components/MapLibreMap.vue
  src/components/MapLibreMap.vue
Due: eslint

fix: use unique project ID for gps offset
  src/stores/projects.ts
Due: eslint

fix: update TypeScript version to 5.8.3 and refactor project key handling in store
  npm-shrinkwrap.json
  package.json
  src/components/MapLibreMap.vue
Due: eslint

fix: update TypeScript version to 5.8.3 and refactor project key handling in store
  npm-shrinkwrap.json.REMOVED.git-id
  package.json
  src/components/MapLibreMap.vue
Due: eslint

fix: downgrade TypeScript version from 5.8.3 to 5.4.5 for compatibility
  npm-shrinkwrap.json.REMOVED.git-id
  package.json
Due: none

fix: downgrade TypeScript version from 5.8.3 to 5.4.5 for compatibility
  npm-shrinkwrap.json
  package.json
Due: none

fix: comment out unused LocaleSelector imports and related code #60
  src/App.vue
  src/components/MarkdownDialog.vue
  src/plugins/i18n.ts
Due: eslint

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx,vue}
  stylelint: any of: *.{css,scss}
