Repository EPFL-ENAC/sxl-recrete-atlas: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-push:
  commands:
    eslint-audit:
      tags: frontend eslint
      run: npm run lint
    typescript-audit:
      tags: frontend typescript
      run: npm run type-check

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,ts,jsx,tsx,vue}"
      tags: frontend eslint
      run: npx eslint {staged_files} --fix
    stylelint:
      glob: "*.{css,scss}"
      tags: frontend stylelint
      run: npx stylelint {staged_files} --fix

fix: enhance project detail layout with improved headings and spacing
  src/components/ProjectDetail.vue
Due: eslint

chore(main): release 1.7.0
  CHANGELOG.md
  npm-shrinkwrap.json
  package.json
Due: none

chore(main): release 1.7.0
  CHANGELOG.md
  npm-shrinkwrap.json.REMOVED.git-id
  package.json
Due: none

feat: update issue templates for bug reports and performance issues
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/issue_template_request.md
  .github/ISSUE_TEMPLATE/performance.md
  .github/ISSUE_TEMPLATE/performance.yaml
Due: none

fix: correct media query syntax for responsive design in main.css
  src/assets/main.css
Due: stylelint

fix: update media query syntax for popper-class in main.css Mobile responsive #76
  src/assets/main.css
Due: stylelint

chore(main): release 1.8.0
  CHANGELOG.md
  npm-shrinkwrap.json
  package.json
Due: none

fix: correct syntax for body font family in settings.scss
  src/assets/settings.scss
Due: stylelint

feat: ajouter un filtre pour le lieu de référence et une fonction de calcul de distance
  src/components/ProjectFilters.vue
  src/stores/filters.ts
  src/stores/projects.ts
  src/types/Filter.ts
Due: eslint

chore: update CSV files for localization and references #126
  scripts/README.md
  scripts/convert-xlsx.py
  src/assets/data/.gitignore
  src/assets/data/countries.csv
  src/assets/data/data.csv
  src/assets/data/keys.csv
  src/assets/data/project_values.csv
  src/assets/data/references.csv
Due: none

fix(download): correct export columns and order without some columns #108
  public/README.pdf
  public/readme_v0.pdf
  src/App.vue
  src/utils/downloadBundle.ts
Due: eslint

fix(MapLibreMap): remove FullscreenControl from map Fixes #86
  src/components/MapLibreMap.vue
Due: eslint

fix(ProjectDetail): set carousel height to 512px and add aria labels for navigation buttons
  src/components/ProjectDetail.vue
Due: eslint

fix(MapLibreMap): enable world copies rendering in map Fixes #100
  src/components/MapLibreMap.vue
Due: eslint

feat(ui): set Title as button/href to go back to homepage with default extent Fixes #88 Add resetMapTrigger to manage map reset state and update logic
  src/App.vue
  src/components/JsonWebMap.vue
  src/stores/ui.ts
Due: eslint

fix(ProjectDialog): click outside close the popup always
  src/components/ProjectDetail.vue
  src/components/ProjectDialog.vue
Due: eslint
