Repository EPFL-ENAC/sxl-recrete-atlas: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-push:
  commands:
    eslint-audit:
      tags: frontend eslint
      run: npm run lint
    typescript-audit:
      tags: frontend typescript
      run: npm run type-check

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,ts,jsx,tsx,vue}"
      tags: frontend eslint
      run: npx eslint {staged_files} --fix
    stylelint:
      glob: "*.{css,scss}"
      tags: frontend stylelint
      run: npx stylelint {staged_files} --fix

feat: add settings.scss for Vuetify configuration and update vite.config.ts to reference it
  src/assets/settings.scss
  vite.config.ts
Due: eslint, stylelint

fix: update app_title in localization files for consistency Title of the website #54
  src/locales/en.json
  src/locales/fr.json
Due: none

fix: update research_prototype label for clarity in keys.csv 2 New binary filters #50
  src/assets/data/keys.csv
Due: none

fix: remove title attribute from filter reset button for improved accessibility
  src/components/ProjectFilters.vue
Due: eslint

fix: adjust carousel height and visibility settings for improved user experience
  src/components/ProjectDetail.vue
Due: eslint

fix: update project details display in addProjects function for clarity #53
  src/components/MapLibreMap.vue
Due: eslint

fix: update icon usage and improve dialog layout in App.vue for better UX
  src/App.vue
Due: eslint

fix: update border styles for navigation drawer and app bar for consistency #77 #78
  src/App.vue
  src/components/ProjectFilters.vue
  src/stores/ui.ts
Due: eslint

fix: add tooltip and translations for open and close filters in English and French #77
  src/components/ProjectFilters.vue
  src/locales/en.json
  src/locales/fr.json
Due: eslint

fix: hide work in progress when responsive is not working properly integrate mobile display handling in App.vue for responsive layout
  src/App.vue
Due: eslint

fix: rewrite project detail header layout and improve button accessibility #78
  src/components/ProjectDetail.vue
Due: eslint

fix: update image processing functions to use toWebp1920 for improved image quality
  scripts/convert.js
  src/components/ProjectDetail.vue
  src/utils/default.ts
  src/utils/image.d.ts
  src/utils/image.js
Due: eslint

fix: enhance carousel navigation and improve image credits display in project detail #78
  src/components/ProjectDetail.vue
Due: eslint

fix: update image credits display to ensure proper alignment in project detail
  src/components/ProjectDetail.vue
Due: eslint
