Repository EPFL-ENAC/sxl-recrete-atlas: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  tags: frontend eslint
  run: npx eslint {staged_files} --fix

stylelint:
  tags: frontend stylelint
  run: npx stylelint {staged_files} --fix

chore(main): release 1.6.0
  CHANGELOG.md
  npm-shrinkwrap.json.REMOVED.git-id
  package.json
Due: none

fix: update deploy action version to v2.4.0
  .github/workflows/build-and-push.yml
Due: none

fix: correct typo in 'fact_sheet_contributors' in data.csv
  src/assets/data/data.csv
Due: none

feat: enhance project detail view with additional actor and contributor information
  src/components/ProjectDetail.vue
Due: eslint

fix: ensure 'fact_sheet_contributors' is included in Project interface
  src/types/Project.ts
Due: eslint

feat(project-detail): update src/components/ProjectDetail.vue with better contributors display
  src/components/ProjectDetail.vue
Due: eslint

feat: add image optimization script and update Dockerfile and package.json for integration
  Dockerfile
  package.json
  public/images/.gitignore
  scripts/optimize-images.sh
Due: none

feat: implement image path conversion to -512.webp format and update default image handling
  scripts/convert.js
  src/components/ProjectDetail.vue
  src/utils/default.ts
  src/utils/image.ts
Due: eslint

doc: update scripts/optimize-images.sh
  scripts/optimize-images.sh
Due: none

feat: add image path conversion utility and clean-up scripts for image optimization #68
  npm-shrinkwrap.json.REMOVED.git-id
  package.json
  scripts/convert.js
  src/utils/image.d.ts
  src/utils/image.js
  src/utils/image.ts
Due: eslint

feat: add image path conversion utility and clean-up scripts for image optimization #68
  npm-shrinkwrap.json
  package.json
  scripts/convert.js
  src/utils/image.d.ts
  src/utils/image.js
  src/utils/image.ts
Due: eslint

fix: update image path handling in convert.js to ensure correct formatting for WebP conversion
  scripts/convert.js
Due: eslint

refactor: remove unused props from JsonWebMap component in HomeView
  src/components/JsonWebMap.vue
  src/views/HomeView.vue
Due: eslint

feat: enhance popup functionality in MapLibreMap component and add new localization strings
  src/components/MapLibreMap.vue
  src/locales/en.json
  src/locales/fr.json
Due: eslint

feat: add PieChart utility using D3 for data visualization
  npm-shrinkwrap.json
  package.json
  src/utils/piechart.ts
Due: eslint

refactor: move popper-class styles from ListView.vue to main.css for better organization #67
  src/assets/main.css
  src/views/ListView.vue
Due: eslint, stylelint

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx,vue}
  stylelint: any of: *.{css,scss}
