Repository EPFL-ENAC/sxl-recrete-atlas: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  tags: frontend eslint
  run: npx eslint {staged_files} --fix

stylelint:
  tags: frontend stylelint
  run: npx stylelint {staged_files} --fix

fix(project-details): correct text i18n closes #142
  TODO.MD
  src/components/ProjectDetail.vue
Due: eslint

fix(uster-school): correct json parse bug and double quotes Closes #143
  scripts/convert.js
  src/App.vue
  src/assets/main.css
  src/assets/settings.scss
  src/components/JsonWebMap.vue
  src/components/MapLibreMap.vue
  src/components/ProjectDetail.vue
  src/components/ProjectDialog.vue
  src/components/ProjectFilters.vue
  src/components/ReferenceList.vue
  src/plugins/i18n.ts
  src/stores/projects.ts
  src/stores/ui.ts
  src/types/Project.ts
  src/utils/downloadBundle.ts
  src/utils/image.d.ts
  src/utils/image.js
  src/views/ListView.vue
Due: eslint, stylelint

fix(map): add fitBounds and boudingBox dynamic compute #117
  src/components/MapLibreMap.vue
Due: eslint

fix(map): trigger fitBounds on drawer change #117
  src/components/MapLibreMap.vue
Due: eslint

fix: simplify maxzoom calculation based on window width closes #117
  public/parameters.json
  schema/parameters.schema.json
  src/components/MapLibreMap.vue
  src/components/MapZoomTest.vue
  src/utils/jsonWebMap.ts
Due: eslint

fix(welcome): set cookie to 12h instead of 365d Closes #139
  src/App.vue
Due: eslint

fix: ensure all cards maintain consistent height in grid layout #140
  src/views/ListView.vue
Due: eslint

feat(about): add en about page only with images #138
  public/about_en.md
  public/images/About_Welcome_image_block_1.jpg
  public/images/About_the_atlas_block_2.jpg
  scripts/convert.js
Due: eslint

feat(about): add en about page only with images #138
  public/about_en.md
  public/images/About_Welcome_image_block_1.jpg.REMOVED.git-id
  public/images/About_the_atlas_block_2.jpg.REMOVED.git-id
  scripts/convert.js
Due: eslint

feat(about): add en about page only with images #138
  public/about_en.md
  scripts/convert.js
Due: eslint

feat(welcome): update welcome box #136
  public/welcome_en.md
  public/welcome_fr.md
Due: none

fix(detail): center credits oon the line Closes #135
  src/components/ProjectDetail.vue
Due: eslint

fix(add-project): add text for add project #84 #131
  public/add_project_en.md
  public/add_project_fr.md
Due: none

fix(typo): add i18n for clear-filters key
  src/assets/data/keys.csv
Due: none

fix(text): correct app subtitle text closes #122
  README.md
  src/locales/en.json
  src/locales/fr.json
Due: none

chore(data): add new images
  public/images/02_01_cceliakupfer.JPG.REMOVED.git-id
  public/images/02_02_cceliakupfer.png.REMOVED.git-id
  public/images/03_01_cceliakupfer.JPG.REMOVED.git-id
  public/images/03_03_cceliakupfer.JPG.REMOVED.git-id
  public/images/03_04_cceliakupfer.JPG.REMOVED.git-id
  public/images/09_01_cceliakupfer.png.REMOVED.git-id
  public/images/09_02_cceliakupfer.png.REMOVED.git-id
  public/images/54_01_cceliakupfer.jpg.REMOVED.git-id
  public/images/54_02_cceliakupfer.jpg.REMOVED.git-id
  public/images/54_03_cceliakupfer.jpg.REMOVED.git-id
  public/images/60_01_cmaurerunited.jpg.REMOVED.git-id
  public/images/61_01_cbasil-merz.jpg.REMOVED.git-id
  public/images/65_01_csuperlocal.png.REMOVED.git-id
  public/images/70_08_carc2.jpg
  public/images/78_01_cSXL-EPFL.JPG.REMOVED.git-id
  public/images/78_03_cSXL-EPFL.JPG.REMOVED.git-id
  public/images/78_04_cSXL-EPFL.JPG.REMOVED.git-id
  public/images/78_05_cSXL-EPFL.JPG.REMOVED.git-id
  public/images/80_01_cceliakupfer.png.REMOVED.git-id
  public/images/80_05_cceliakupfer.png.REMOVED.git-id
  public/images/82_06_cparabase.jpg
  public/images/84_01_cmaxencegrangeot.png.REMOVED.git-id
  public/images/84_02_cmaxencegrangeot.jpg.REMOVED.git-id
  public/images/84_03_cmaxencegrangeot.jpg.REMOVED.git-id
  public/images/84_04_cmaxencegrangeot.jpg.REMOVED.git-id
  public/images/84_05_cmaxencegrangeot.jpg.REMOVED.git-id
  public/images/84_06_cmaxencegrangeot.jpg.REMOVED.git-id
  public/images/84_07_cmaxencegrangeot.jpg.REMOVED.git-id
  public/images/93_01_royalhastignendvh.jpg.REMOVED.git-id
  public/images/94_01_croyalhaskoningdvh.png.REMOVED.git-id
  public/images/95_01_crobvergoossen.jpg.REMOVED.git-id
  public/images/95_02_crobvergoossen.jpg.REMOVED.git-id
  public/images/95_03_crobvergoossen.jpg.REMOVED.git-id
Due: none

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx,vue}
  stylelint: any of: *.{css,scss}
