Repository EPFL-ENAC/sxl-recrete-atlas: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  tags: frontend eslint
  run: npx eslint {staged_files} --fix

stylelint:
  tags: frontend stylelint
  run: npx stylelint {staged_files} --fix

refactor: move popper-class styles from ListView.vue to main.css for better organization #67
  src/assets/main.css
  src/views/ListView.vue
Due: eslint, stylelint

feat: add empty state alert to ListView for improved user feedback
  src/views/ListView.vue
Due: eslint

feat: update popper-class styles for responsive design and adjust dropdown placement #67
  src/assets/main.css
  src/components/ProjectDetail.vue
Due: eslint, stylelint

feat: add actors display to ListView with conditional styling
  src/views/ListView.vue
Due: eslint

feat: add margin and gap classes to rows in ProjectDetail for improved layout #67
  src/components/ProjectDetail.vue
Due: eslint

feat: add filters class to v-row in ProjectFilters for improved styling #67
  src/components/ProjectFilters.vue
Due: eslint

feat: remove echarts and related components to streamline dependencies #66
  npm-shrinkwrap.json
  package.json
  src/components/BarProjectEchart.vue
Due: eslint

feat: remove echarts and related components to streamline dependencies #66
  npm-shrinkwrap.json.REMOVED.git-id
  package.json
  src/components/BarProjectEchart.vue
Due: eslint

feat: remove papaparse dependency to streamline package management
  npm-shrinkwrap.json.REMOVED.git-id
  package.json
Due: none

feat: remove papaparse dependency to streamline package management
  npm-shrinkwrap.json
  package.json
Due: none

feat: add libjpeg-turbo to Dockerfile for enhanced image processing
  Dockerfile
Due: none

feat: add libwebp-tools to Dockerfile for enhanced image processing capabilities
  Dockerfile
Due: none

feat: update v-row class for boolean filters to improve styling
  src/components/ProjectFilters.vue
Due: eslint

feat: update project dependencies overview in README.md for clarity and completeness
  README.md
Due: none

fix: add Barlow font and correct HTML syntax and formatting in index.html for consistency
  index.html
Due: none

feat: add settings.scss for Vuetify configuration and update vite.config.ts to reference it
  src/assets/settings.scss
  vite.config.ts
Due: eslint, stylelint

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx,vue}
  stylelint: any of: *.{css,scss}
